Source: wattindicator
Section: misc
Priority: optional
Maintainer: Leonardo Robol <leo@robol.it>
Build-Depends: debhelper (>= 9.0.0), python-dev
Standards-Version: 3.9.4
Homepage: http://github.com/robol/wattindicator
#Vcs-Git: git://git.debian.org/collab-maint/wattindicator.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/wattindicator.git;a=summary

Package: wattindicator
Architecture: all
Depends: ${misc:Depends},
	python (>= 2.6),
	gir1.2-upowerglib-1.0,
	gir1.2-appindicator3-0.1,
	gir1.2-gtk-3.0
Description: Simple power monitor indicator
 A simple power monitor indicator that displays the current
 power usage of the PC. 
